<div>
    <div data-dojo-attach-point="NetworkPolicyCardArea">
	<div class="blank-view fn-hidden" data-dojo-attach-point="blankPage">
        <div class="wrapper">
        <div class="single-card">
            <i class="card-icon" data-dojo-attach-point="imgAdd"></i>
            <div class="inner-title"><a href="#" data-dojo-attach-point="txtAdd"><span class="txtAdd">ADD</span><span class="txtNetwork">NETWORK</span><span class="txtPolicy">POLICY</span></a></div>
        </div>
        </div>

    </div>
  	<div class="row" data-dojo-attach-point="cards">
  		<div class="default-card grid_5 column wireless-device-card AHCardItem" data-dojo-attach-point="addNewPolicy" 
  			style="text-align:center;cursor:pointer;">
  			<div class="default-card-icon"></div>
  			<div class="default-card-text">ADD NETWORK POLICY</div>
  		</div>
  	</div>
    </div>
    <div data-dojo-attach-point="NetworkPolicyWizardContainer" style="display: none;" class="clearfix"></div>
    <div style="width:100%;height:60px;"></div>
</div>