<div>
    <article data-dojo-attach-point="markdown">

<xmp style="display:none">
# ObscureInput隐藏输入
隐藏输入

## API
### Property
| 参数         | 说明                   | 类型         | 可选值             | 默认值(Default) |
| -------------| -------------          | -----        | ------             | --------------- |
| isGenegate   | 是否出现自动生成按键   | Boolean      | true,false         | false     |
| count        | 设置自动生成的信息长度 | Number       | 1,2,3...           | 64        |
| required     | 是否是必填项           | Boolean      | true,false         | false     |
| value        | 输入框默认值           | String,Number| 0,1,...;'a','b'... | N/A       |
| checked      | 是否隐藏输入信息       | Boolean      | true,false         | true      |
| labelClass   | 设定标签样式           | String       |'grid_1','grid_2'...| 'grid_4'  |
| inputClass   | 设定输入区域样式       | String       |'grid_1','grid_2'...| 'grid_12' |
| textClass    | 设定输入框样式         | String       |'input_1','input_2'...| N/A     |
| label        | 设定第一个标签文本     | String       | 字符串             | 'Shared Secret' |
| labelConfirm | 设定第二个标签文本     | String       | 字符串             | 'Confirm Secret'|
| obscureTxt   | 设定隐藏提示文本       | String       | 字符串             | 'Obscure secret'|
| des          | 设定输入提示信息       | String       |'标签&#166;字符串'  | N/A       |
| passwordLevel|是否出现密码安全程度提示| Boolean      |  true,false        | false     |

### Methods
| 参数              | 说明                     | 类型  |
| -------------     | -------------            | ----- |
| _setValueAttr     | 设置value值              | function( v : String ) |
| _getValueAttr     | 获取value值              | function( ) |
| _setCheckedAttr   | 设定单选框是否被选中   | function( f : Boolean ) |
| _setRequiredAttr  | 动态设定是否是必填项     | function( f : Boolean ) |
| _setMaxLengthAttr | 动态设定输入框的输入长度 | function( len : Number )|
| changeDes         | 动态改变输入框提示信息   | function( msg : String )|

### Events
| 参数          | 说明                                  | 类型  |
| ------------- | -------------                         | ----- |
| change        | 当单选框状态发生变化时，触发此事件  | function( e:event ) |
| click         | 当自动生成按键被点击时，触发此事件    | function( ) |
</xmp>

    </article>

    <h2>Demos</h2>
    <div class="code-boxes clearfix">
        <div class="code-boxes-lt">
            <div data-dojo-type="ah/app/common/DemoArea">
		        <div>
                    <div data-dojo-stype="ah/util/form/ObscureInput" data-dojo-attach-point="passwordObs" data-dojo-props="
                    labelClass:'grid_2',
                    inputClass:'grid_5',
                    textClass:'input_3',
                    isGenegate:true,
                    count:16,
                    charType:'ANY_SELECTED_CHARACTER_TYPES',
                    passwordLevel: true,
                    ">
                    </div>
                </div>

		        <code>
&lt;div ah/util/form/ObscureInput" data-dojo-props="labelClass:'grid_2', inputClass:'grid_5', textClass:'input_3', isGenegate:true, count:16, charType:'ANY_SELECTED_CHARACTER_TYPES', passwordLevel: true"&gt;
&lt;/div&gt;

		        </code>
                <p>带有自动生成和安全程度检测的密码输入</p>

	        </div>
        </div>

        <div class="code-boxes-rt">
            <div data-dojo-type="ah/app/common/DemoArea">
                <div>
                    <div data-dojo-stype="ah/util/form/ObscureInput" data-dojo-attach-point="commonObs" data-dojo-props="
                    labelClass:'grid_2',
                    inputClass:'grid_4',
                    textClass:'input_4',
                    required: true,
                    label: 'Id card',
                    labelConfirm: 'Id card Confirm',
                    obscureTxt: 'hide or not',
                    des:'span|Please input 18 digitals',
                    value: '370202199010102883'
                    ">
                    </div>
                </div>

                <code>
&lt;div ah/util/form/ObscureInput" data-dojo-props="labelClass:'grid_2', inputClass:'grid_4', textClass:'input_4', required: true, label: 'Id card', labelConfirm: 'Id card Confirm', obscureTxt:'hide or not', des:'span|Please input 18 digitals', value: '370202199010102883'"&gt;
&lt;/div&gt;
                </code>

                <p>普通的隐藏输入</p>
            </div>

        </div>
    </div>

</div>
