<div>
    <article data-dojo-attach-point="markdown">

<xmp style="display:none">
# PasswordLevel密码强度提示框
密码强度提示框

## API
### Property
| 参数         | 说明                           | 类型         | 可选值             | 默认值(Default) |
| -------------| ------------- -------------    | -----        | ------             | --------------- |
| bLen         | 密码长度大于8                  | Boolean      | true/false         | true      |
| bNumber      | 密码中必须包含数字             | Boolean      | true/false         | true      |
| rType        | 密码中必须包含的自定义字符类型 | String       | "special"/"upper"  | "special" |

### Events
| 参数          | 说明                     | 类型  |
| ------------- | -------------            | ----- |
| focus         | 输入框获得焦点时触发     | function( e:event )|
| keyup         | 输入框当按钮被松开时触发 | function( e:event )|
| blur          | 输入框失去焦点时触发     | function( e:event )|

</xmp>

    </article>

    <h2>Demos</h2>
    <div class="code-boxes clearfix">
        <div class="code-boxes-lt">
            <div data-dojo-type="ah/app/common/DemoArea">
		        <div>
                    <input data-dojo-stype="ah/util/form/PasswordLevel" data-dojo-props="
                        bLen : true,
                        bNumber : true,
                        rType : 'special'
                    " type="password" class="input_3">
                    </imput>
                </div>

		        <code>
&lt;input data-dojo-type="ah/util/form/PasswordLevel" data-dojo-props="bLen: true,bNumber : true, rType : 'special'" type="password" class="input_3"&gt;
&lt;/input&gt;
		        </code>
                <p>密码输入框长度大于8,必须包含数字和特殊字符</p>

	        </div>
        </div>

        <div class="code-boxes-rt">
            <div data-dojo-type="ah/app/common/DemoArea">
                <input data-dojo-stype="ah/util/form/PasswordLevel" data-dojo-props="
                        bLen : true,
                        bNumber : true,
                        rType : 'upper'
                    " type="password" class="input_3">
                </input>

                <code>
&lt;input data-dojo-type="ah/util/form/PasswordLevel" data-dojo-props="bLen: true,bNumber : true, rType : 'upper'" type="password" class="input_3" &gt;
&lt;/input&gt;
                </code>
                <p>密码输入框长度大于8,必须包含数字且和大写字母</p>
            </div>

        </div>
    </div>

</div>
