.ui-pasd-tip{
	position : absolute;
	padding : 15px;
    font-size: 10px;
	background-color : #fff;
	border : 1px solid #ddd;

    /*this is to fix the overlay issue cause by other popups*/
    z-index: 1000;
}
.ui-pasd-rect{
	background-image : url(../../../images/common/sprite/icons-widget.png);
	background-repeat : no-repeat;
	background-position : 0px -358px;
	width : 10px;
	height : 10px;
	position : absolute;
	left : -7px;
	top : 108px;
}
.ui-pasd-tip h4 {
    font-size: 12px;
}

.ui-pasd-tip ul {
   margin-top:10px;
}

.ui-pasd-rules li {
    padding-left : 20px;
	color : #9c9c9e;
}

.ui-pasd-item {
	background-image : url(../../../images/common/sprite/icons-widget.png);
	background-repeat : no-repeat;
	background-position : -102px -354px;
}

.ui-pasd-item-pass {
	background-position : -102px -336px;
}

.ui-pasd-tip p {
   margin:10px 0 0;
}

.ui-pasd-bar{
	display : inline-block;
	width : 48px;
	height : 5px;
	margin-right : 3px;
	background-color : #eee
}

.ui-pasd-bar-wrap1 .ui-pasd-bar:nth-child(1){
	background-color : #ff6666
}

.ui-pasd-bar-wrap2 .ui-pasd-bar:nth-child(-n+2){
	background-color : #ffaf00
}

.ui-pasd-bar-wrap3 .ui-pasd-bar:nth-child(-n+3){
	background-color : #5ac804
}

/*
.ui-pasd-level {
   float : left;
   height : 16px;
   width  : 16px;
   background-image : url(../../../images/common/sprite/icons-widget.png);
   background-repeat : no-repeat;
   margin-right : 8px;
}
.ui-pasd-level0 {
	background-position : -4px -302px;
}
.ui-pasd-level1 {
	background-position : -32px -302px;
}
.ui-pasd-level2 {
	background-position : -61px -302px;
}
.ui-pasd-level3 {
	background-position : -91px -302px;
}
*/

.ui-pasd-text{
	display:inline-block;
	width : 45px;
	margin-left : 10px
}

.ui-pasd-text1 {
    color : #ff6666; 
}
.ui-pasd-text2 {
    color : #ffaf00; 
}
.ui-pasd-text3 {
    color : #5ac804; 
}
