extends layout

block content

    div.spinner#spinner
    div(data-dojo-type='ah/app/common/home')

    if debug === 'true'
        script(src='/js/dojo/dojo.js')
    else
        script(src='/js/dist/lib/dojo/dojo.js')
        script(src='/js/dist/lib/ah/ae.js')
        script(src='/js/dist/lib/ah/util.js')

    
    script(type='text/javascript').
        require(['dojo/parser', 'ah/app/common/home'],function(parser){
            parser.parse();

            var spinner = document.getElementById('spinner');

            spinner.parentNode.removeChild(spinner);
        })
