doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/css/common/common.css')
		link(rel='stylesheet', href='/css/art.css')
		script(type='text/javascript').
			var dojoConfig = {
				async : true,
				path : {
					'ah' : '/js/ah'
				}
			}

	body
		block content
