<div class="ui-tooltip" style="opacity:0">
	<div class="ui-tooltip-title" data-dojo-attach-point="portTitle"></div>
	<div class="ui-tooltip-content">
		<div class="clearfix pb10">
		    <div class="grid_2 column first desc">Port Status</div>
		    <div class="grid_3 column last port-status" data-dojo-attach-point="portStatus"></div>
		</div>
		<div class="clearfix pb10">
			<div class="grid_2 column first desc" data-dojo-attach-point="typeDesc">Port Type</div>
			<div class="grid_3 column last" data-dojo-attach-point="portType"></div>
		</div>
		<div class="clearfix pb10" data-dojo-attach-point="aggCtn" style="display:none">
			<div class="grid_2 column first desc">Aggregate with</div>
			<div class="grid_3 column last" data-dojo-attach-point="portAgg"></div>
		</div>
		<div class="clearfix" style="display:none;">
			<div class="grid_2 column first desc">Last Modified</div>
			<div class="grid_3 column last" data-dojo-attach-point="portModify"></div>
		</div>
	</div>
	<div class="ui-tooltip-arrow" data-dojo-attach-point="tipArrow">
	</div>
</div>
