body{
	font-family: Arial, Helvetica, sans-serif;
	color: #5A5A5A;
}
a{
    outline : none
}
a:hover{
	text-decoration: none;
}


.wrapper,
.height100{
	height : 100%
}

.minh500{
    min-height : 500px
}

.spinner {
  position : absolute;
  width: 60px;
  height: 60px;
  background-color: #0093d1;
  top : 50%;
  left : 50%;
  margin : -30px 0 0 -30px;
 
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
 
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
 
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



/**************start header*************/
#header{
	margin : 0 3%;
}

.ui-nav{
	border: solid 1px #f1f2f3;
	border-top: medium none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
}
.ui-nav li{
	float: left;
	width:25%;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	text-align: center;
	background-color: #0199e5;
    -webkit-transition : background-color 0.3s ease-out
}
.ui-nav li a{
	color:#FFF;
	display: block;
	border-right: solid 1px #f1f2f3;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
}
.ui-nav li:last-child a{
    border-right : none
}
.ui-nav li:hover a,
.ui-nav .active a{
	color: #333;
}
.ui-nav li:hover{
	background-color: rgba(157, 211, 238, 0.37);
}
.ui-nav li.active{
	background-color: rgba(157, 211, 238, 0.37);
}
.logo{
	margin: 10px 0;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 240px;
}
.logo-name{
	font-size: 22px;
	color: #0199e5;
	margin-top: 10px;
}
.search{
	position: relative;
	margin-top: 20px;
	width: 220px;
}
.search .search-text{
    border-color : #ccc;
	-webkit-transition : border-color 0.3s ease-in;
}
.search-action{
	display: inline-block;
	height: 15px;
	width: 15px;
	position: absolute;
	right: 6px;
	top: 8px;
	background: url(../../images/search.png);
}

.search-result{
    position : absolute;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    background-color : #fff;
    max-height: 200px;
    overflow: auto;
    transition : all 0.3s ease-out;
    transform-origin : 0 0;
    transform : scaleY(0);
    opacity : 0;
    z-index : 99;
}

.search-result-open{
    transform : scaleY(1);
    opacity : 1;
}

.search-list-item{
    padding : 6px 12px;
    font-size : 14px;
    cursor : pointer
}

.search-list-item:hover{
    background-color : #eaf8fe
}


/***************end header*************/



.main{
	height : calc(100% - 210px);
	min-height : 500px;
}

.sider-ctn{
	width: 260px;
	margin-right: 40px;
	background-color: #F7F7F7;
}

.cat-list-area{
    padding-top : 20px;
}

.cat-title{
    padding :0 0 10px 40px;
	font-size: 16px;
    cursor : pointer
}
.cat-list-item{
	font-size: 14px;
	cursor: pointer;
}
.cat-list-item a{
    display : block;
    height : 40px;
    line-height : 40px;
	padding-left: 50px;
	color: #999;
	border-left: solid 3px #F7F7F7;
}
.cat-list-item .cur{
    border-left: solid 3px rgba(1, 153, 229, 0.4);
    color : #71B5DE;
    background-color: #fff;
}
.cat-list-item a:hover{
	color : #71B5DE
}


.res-ctn{
	margin : 0 3%;
}
.res-item{
	border-top: solid 1px #eee;
}

.res-item-icon{
	height: 250px;
	width: 250px;
}
.res-item-desc{
	height: 250px;
	text-align: center;
	font-size: 15px;
}
.res-item-desc article{
    padding-top : 30px
}
.res-item-desc h3,
.res-item-desc p{
    margin-bottom : 15px;
}

.res-ctn .res-item:nth-child(odd) .res-item-desc{
    margin-right : 250px
}
.res-ctn .res-item:nth-child(even) .res-item-desc{
    margin-left : 250px
}

.res-item-first{
	background: url(/images/1.png) #0199e5 no-repeat 50%;
}

.res-item-second{
	background: url(/images/2.png) #28e1a5 no-repeat 50%;
}

.res-item-third{
	background: url(/images/3.png) #FD6CA3 no-repeat 50%;
}

.res-item-fourth{
	background:url(/images/4.png) #ffd749 no-repeat 50%
}


.doc-ctn{
	padding : 40px 3% 40px 3%;
	background-color : #fff;
    font-size : 14px;
    font-family : "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",SimSun,sans-serif;
}

.doc-ctn article h1{
    font-size : 2.0em;
}

.doc-ctn h2,
.doc-ctn article h3{
    margin : 1.8em 0 1em;
}

.doc-ctn h2{
    font-size : 1.5em;
}

.doc-ctn article h3{
    font-size : 1.2em;
}

.doc-ctn article p{
    margin : 1.4em 0;
}


.doc-ctn table{
    width : 100%;
    text-align : left;
}

.doc-ctn th,
.doc-ctn td{
    padding : 8px 16px;
    border : 1px solid #e9e9e9;
}

.doc-ctn th{
    background-color : #f7f7f7
}

.doc-ctn article ul{
	margin: 15px 0;
}

.doc-ctn article ul li{
    margin-bottom : 10px
}

.doc-ctn article{
    width : 80%
}

li:before{
	border: solid 1px #999;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    display: inline-block;
    background-color: #999;
    vertical-align: middle;
    margin-top: 10px;
}



.code-boxes-lt,
.code-boxes-rt{
    width : 50%;
    box-sizing : border-box;
    float : left;
    padding-right : 15px;
}

.code-boxes-rt{
    padding-right : 0
}

.code-box{
    margin-bottom : 10px;
    border : 1px solid #e9e9e9;
    border-radius : 5px;
    -webkit-transition : border-color 0.4s ease;
}

.code-box:hover{
    border-color : #ccc;
}

.code-box-demo{
   padding : 40px 20px;
}

.code-box-info{
    border-top : 1px solid #e9e9e9;
    padding : 15px;
    background-color : #fbfbfb;
    font-size : 12px
}


.code-box-hjs pre{
    border-top : 1px dashed #e9e9e9;
    padding : 0 20px
}

.code-box-arrow{
    float : right;
    font-size : 18px;
    color : #ccc;
    cursor : pointer;
    -webkit-transition : all 0.3s ease;
}

.code-box-arrow:hover{
    color : #aaa
}

.code-box-rotate .code-box-arrow{
    transform : rotate(-180deg);
}


/**************start footer*************/
#footer{
	/**height for placeholder**/
	height : 80px;
	1background-color : #353535;
	border-top : 1px solid #eee;
}

#footer ul{
	margin : 20px 3% 0 3%;
}



/**************stage word****************/
.stage{
    position : relative;
    height : 100%;
    font-family:BrownLight, sans-serif;
    font-size:86px;
    color:#121212;
    text-align:center;
    line-height:1.2
}

.stage-word-matter,
.stage-word-help{
    position : absolute;
    width : 600px;
    left : 50%;
    margin-left : -300px;
    top : 10%;
    opacity : 0;
    transition : all 0.5s ease-out;
}

.stage-word-help{
    top : 70%
}

.stage-word-matter-top{
    top : 20%;
    opacity : 1;
}
.stage-word-help-top{
    top : 60%;
    opacity : 1;
}
