<div>
	<article data-dojo-attach-point="markdown">

<xmp style="display:none">
# Title 标题
提供多种颜色和尺寸的标题样式。

## 使用方式

### 支持的样式列表

| class          | 说明     |
| ------------- | ------------- |
| ui-tle     | 普通的标题 |
| ui-sml-tle | 尺寸较小的标题 |
| ui-nobd-tle, ui-nobd-sml-tle  | 无下边框的普通标题和小标题 |
| ui-sec-tle | 标准橙色标题 |
| ui-sec-nobd-tle | 无上边框的橙色标题 |

</xmp>

    </article>

    <h2>Demos</h2>
	<div class="code-boxes clearfix">
        <div class="code-boxes-lt">
            <div data-dojo-type="ah/app/common/DemoArea">
		        <div>
					<div class="ui-tle">
                        <span class="title">Normal title</span>               
                    </div>
                    <div class="ui-sml-tle">
                        <span class="title">Small normal title</span>
                    </div>
                    <div class="ui-nobd-tle line">
                        <span class="title">Normal title(no border)</span>               
                    </div>
                    <div class="ui-nobd-sml-tle">
                        <span class="title">Small normal title(no border)</span>
                    </div>
                </div>

		        <code>
&lt;div class="ui-tle"&gt;
    &lt;span class="title"&gt;Normal title&lt;/span&gt;
&lt;/div&gt;

&lt;div class="ui-sml-tle"&gt;
    &lt;span class="title"&gt;Small normal title&lt;/span&gt;
&lt;/div&gt;

&lt;div class="ui-nobd-tle"&gt;
    &lt;span class="title"&gt;Normal title(no border)&lt;/span&gt;
&lt;/div&gt;

&lt;div class="ui-nobd-sml-tle"&gt;
    &lt;span class="title"&gt;Small normal title(no border)&lt;/span&gt;
&lt;/div&gt;
		        </code>
                <p>普通标题</p>
	        </div>
        </div>

        <div class="code-boxes-rt">
            <div data-dojo-type="ah/app/common/DemoArea">
                <div>
					<div class="ui-sec-tle">
                          <h3>Orange Title</h3>
                    </div>
                    <div class="ui-sec-nobd-tle">
                           <h3>Orange Title(no border)</h3>
                    </div>
                </div>

                <code>
&lt;div class="ui-sec-tle"&gt;
    &lt;h3&gt;Orange Title&lt;/h3&gt;
&lt;/div&gt;

&lt;div class="ui-sec-nobd-tle"&gt;
    &lt;h3&gt;Orange Title(no border)&lt;/h3&gt;
&lt;/div&gt;
                </code>

                <p>橙色标题</p>
            </div>
        </div>
    </div>
	
</div>
