label,
input,
button,
select,
textarea,
input[type=checkbox]+.lbl,
input[type=radio]+.lbl{
	font-size: 12px
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  font-family: helvetica, arial, san-serif;
  line-height: 20px;
  color: #717174;
  vertical-align: middle;
 -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing:antialiased;
  background-color: #fff;
  border: 1px solid #999;
  -webkit-transition: border linear 0.1s, box-shadow linear 0.1s;
     -moz-transition: border linear 0.1s, box-shadow linear 0.1s;
       -o-transition: border linear 0.1s, box-shadow linear 0.1s;
          transition: border linear 0.1s, box-shadow linear 0.1s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{
	border: 1px solid #0093d1;
	outline: none !important;
	color : #838182
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}


label{
  display: block;
}



/*==================Start checkbox and radio====================*/
label,.lbl {
  vertical-align: middle
}

input[type=checkbox],input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: 12;
  width: 18px;
  height: 18px
}
input[type=checkbox]:focus,input[type=radio]:focus,input[type=checkbox]:checked,input[type=radio]:checked
  {
  outline: none !important
}

input[type=checkbox]+.lbl,input[type=radio]+.lbl {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 14px;
  min-width: 14px;
  font-weight: normal
}

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before {
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 11px;
  color: #32a3ce;
  content: "\a0";
  display: inline-block;
  background-color: #fafafa;
  border: 1px solid #999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 13px;
  line-height: 13px;
  min-width: 13px;
  margin-right: 10px;
  margin-top: 0px;
}

input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before
    {
    border-color: #999;
}
input[type=checkbox]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=radio]:checked:active+.lbl::before
  {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px
    rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{
  display: inline-block;
  content: '\f00c';
  background-color: #f5f8fc;
  border-color: #0093d1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px
    rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

input[type=checkbox][aria-checked=mixed]+.lbl::before{
  display: inline-block;
  content: "\f068";
  background-color: #f5f8fc;
  border-color: #0093d1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px
    rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}


/*not sure, maybe it'll be better to comment out*/
.radio.inline,.checkbox.inline {
  margin-top: 5px;
}
.checkbox.inline+.checkbox.inline {
  margin-left: 23px;
}

label.checkbox,label.radio {
  position: relative;
}

input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before
  {
  background-color: #DDD !important;
  border-color: #CCC !important;
  box-shadow: none !important;
  color: #BBB
}

input[type=radio]+.lbl::before {
  border-radius: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px
}
input[type=radio]:checked+.lbl::before {
  content: "\2022"
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #D9D9D9;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #D9D9D9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #D9D9D9;
}



/*===============Start Switch Button==============*/
input[type=checkbox].ace-switch :active+.lbl::before,input[type=checkbox].ace-switch :checked:active+.lbl::before
  {
  box-shadow: none
}

input[type=checkbox].ace-switch {
  width: 55px;
  height: 20px
}

input[type=checkbox].ace-switch+.lbl {
  margin: 0 4px;
  min-height: 24px
}

input[type=checkbox].ace-switch+.lbl::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  color: #999;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  line-height: 21px\9;
  height: 18px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f5f5f5;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .2);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 50px;
  text-indent: -19px;
  text-indent: -21px\9;
  margin-right: 0;
  -webkit-transition: text-indent .4s ease;
  -moz-transition: text-indent .4s ease;
  -o-transition: text-indent .4s ease;
  -ms-transition: text-indent .4s ease;
  transition: text-indent .4s ease
}

input[type=checkbox].ace-switch:checked+.lbl::before {
  text-indent: 9px;
  color: #FFF;
  background-color: #8ab2c9;
  border-color: #468fcc
}

input[type=checkbox].ace-switch+.lbl::after {
  font-family: Arial, Helvetica, sans-serif;
  content: '|||';
  font-size: 10px;
  font-weight: lighter;
  color: #e5e5e5;
  background-color: #FFF;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 12px;
  width: 22px;
  height: 22px;
  line-height: 20px;
  position: absolute;
  top: -2px;
  left: -3px;
  padding: 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-transition: left .4s ease;
  -moz-transition: left .4s ease;
  -o-transition: left .4s ease;
  -ms-transition: left .4s ease;
  transition: left .4s ease
}

input[type=checkbox].ace-switch:checked+.lbl::after {
  left: 34px;
  background-color: #FFF;
  color: #8ab2c9
}

input[type=checkbox].ace-switch-2+.lbl::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0NO"
}

input[type=checkbox].ace-switch-3+.lbl::after {
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 23px;
  content: "\f00d";
  top: -1px
}

input[type=checkbox].ace-switch-3:checked+.lbl::after {
  content: "\f00c"
}

input[type=checkbox].ace-switch-4+.lbl::before,input[type=checkbox].ace-switch-5+.lbl::before
  {
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  line-height: 19px;
  height: 20px;
  overflow: hidden;
  line-height: 21px\9;
  border-radius: 12px;
  display: inline-block;
  background-color: #8b9aa3;
  border: 1px solid #8b9aa3;
  color: #FFF;
  width: 52px;
  text-indent: -25px;
  text-indent: -28px\9;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  box-shadow: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease
}

input[type=checkbox].ace-switch-4:checked+.lbl::before,input[type=checkbox].ace-switch-5:checked+.lbl::before
  {
  text-indent: 9px;
  background-color: #468fcc;
  border-color: #468fcc
}

input[type=checkbox].ace-switch-4+.lbl::after,input[type=checkbox].ace-switch-5+.lbl::after
  {
  font-family: Arial, Helvetica, sans-serif;
  content: '|||';
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.2);
  font-size: 7px;
  font-weight: lighter;
  color: #8b9aa3;
  text-align: center;
  position: absolute;
  border-radius: 12px;
  color: #5b6a73;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  background-color: #FFF;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease
}

input[type=checkbox].ace-switch-4:checked+.lbl::after,input[type=checkbox].ace-switch-5:checked+.lbl::after
  {
  left: 34px;
  background-color: #FFF
}

input[type=checkbox].ace-switch-5+.lbl::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0NO"
}

input[type=checkbox].ace-switch-5:checked+.lbl::before {
  text-indent: 8px
}

input[type=checkbox].ace-switch-6+.lbl {
  position: relative
}

input[type=checkbox].ace-switch-6+.lbl::before {
  font-family: FontAwesome;
  content: "\f00d";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: none;
  border: 0;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 12px;
  display: inline-block;
  background-color: #888;
  color: #f2f2f2;
  width: 52px;
  height: 22px;
  line-height: 20px;
  text-indent: 32px;
  -webkit-transition: background .1s ease;
  -moz-transition: background .1s ease;
  -o-transition: background .1s ease;
  -ms-transition: background .1s ease;
  transition: background .1s ease
}

input[type=checkbox].ace-switch-6:checked+.lbl::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #b7d3e5;
  background-color: #ff893c
}

input[type=checkbox].ace-switch-6+.lbl::after {
  content: '';
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 10px;
  height: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -o-transition: left .2s ease;
  -ms-transition: left .2s ease;
  transition: left .2s ease
}

input[type=checkbox].ace-switch-6:checked+.lbl::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25)
}

input[type=checkbox].ace-switch-7 {
  width: 75px
}

input[type=checkbox].ace-switch-7+.lbl {
  position: relative
}

input[type=checkbox].ace-switch-7+.lbl::before {
  content: "OFF\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0ON";
  font-weight: bolder;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  background-color: #FFF;
  border: 2px solid #AAA;
  border-radius: 0;
  box-shadow: none;
  color: #aaa;
  width: 70px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  text-indent: 4px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease
}

input[type=checkbox].ace-switch-7:checked+.lbl::before {
  color: #468fcc;
  background-color: #FFF;
  text-indent: -33px;
  border-color: #6fb3e0
}

input[type=checkbox].ace-switch-7+.lbl::after {
  content: '\f00d';
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 39px;
  width: 32px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  background-color: #aaa;
  color: #FFF;
  border-radius: 0;
  box-shadow: none;
  transition: all .2s ease-in-out
}

input[type=checkbox].ace-switch-7:checked+.lbl::after {
  left: 3px;
  content: '\f00c';
  background-color: #468fcc;
  color: #FFF
}

input[type=checkbox]:checked+.lbl.switch-label::before{
  border: 2px solid #0093d1 !important;
}


/****error for validate*****/
.form-error-wrp { overflow: hidden; }
.form-error-wrp .form-error { margin: 4px 0 0 0; display: inline-block; }

input[type=text].form-error,
input[type="email"].form-error,
input[type=password].form-error,
textarea.form-error{
	border-color : red
}

p.form-error,
p.form-success,
span.form-error,
span.form-success{
	padding : 3px 0 3px 20px;
	background-image : url(../../images/common/sprite/icons-tip.png);
	background-repeat : no-repeat;
}

span.form-error,
span.form-success{
	margin-left : 10px;
}

p.form-error,
span.form-error{
	background-position : -150px 2px;
	color : red
}

p.form-success,
span.form-success {
  background-position : -150px -98px;
  color : green
}

p.form-error{
	margin : 2px 0 0;
}

.label-rqe:after{
	content : '*';
	color : red;
	font-size : 12px
}

.ui-ip span.form-error{
	position : absolute;
	left : 90%;
	top : 5px;
	width : 250px
}
