html, body {
    height: 100%
}

body {
    font: 12px/1.5 helvetica, arial, san-serif;
    color: #777;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

img {
    vertical-align: middle
}

p {
    font-size: 1em;
    color: #717174
}

strong {
    color: #000;
    font-weight: bold;
}

a:link {
    color: #0093d1
}

a:visited {
    color: #0093d1
}

a:hover {
    text-decoration: underline
}

a:focus, a:active {
    text-decoration: none
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    line-height: 0;
    visibility: hidden
}

/*
fixing ie password reveal issue
*/
/* don't show the x for text inputs */
::-ms-clear {
    width: 0;
    height: 0;
}

/* don't show the eye for password inputs */
::-ms-reveal {
    width: 0;
    height: 0;
}

/*
fixing ie password reveal issue for IE password field
*/
/* don't show the x for text inputs */
::-ms-clear {
    width: 0;
    height: 0;
}

/* don't show the eye for password inputs */
::-ms-reveal {
    width: 0;
    height: 0;
}
