<div class="wrapper">
	<header>
		<div class="clearfix" style="margin-right:40px;">
			<a class="logo fn-left">
				<img src="/images/logo.png" alt="" style="float:left;" width="50">
  				<span class="logo-name">Aerohive</span>
			</a>
			<div class="search fn-right">
				<input type="text" class="search-text"/>
				<span class="search-action"></span>
			</div>
		</div>
		<nav>
			<ul class="ui-nav clearfix">
				<li class="fn-left active" data-dojo-attach-point="stage"><a href="#" >首页</a></li>
				<li class="fn-left" data-dojo-attach-point="why"><a href="#">选择</a></li>
				<li class="fn-left" data-dojo-attach-point="component"><a href="#">组件</a></li>
				<li class="fn-left" data-dojo-attach-point="experience"><a href="#">心得</a></li>
			</ul>
		</nav>
	</header>

	<div data-dojo-attach-point="content" class="main">
		<div data-dojo-attach-point="stageObj" data-dojo-type="ah/app/common/stage" class="height100"></div>
	</div>


	<footer id="footer">
		<ul>
			<li>&copy;Aerohive前端体验技术组出品</li>
		</ul>
	</footer>

</div>
