<div class="wrapper">

	<header id="header">
		<nav class="nav">
			<ul>
				<li><a href="#" data-dojo-attach-point="stage">首页</a></li>
				<li><a href="#" data-dojo-attach-point="why">选择</a></li>
				<li><a href="#" data-dojo-attach-point="component">组件</a></li>
				<li><a href="#" data-dojo-attach-point="experience">心得</a></li>
			</ul>
		</nav>
	</header>


	<div data-dojo-attach-point="content" class="main">
		<div data-dojo-type="ah/app/common/stage" class="height100"></div>
	</div>


	<footer id="footer">
		<ul>
			<li>&copy;Aerohive前端体验技术组出品</li>
		</ul>
	</footer>

</div>
