<div class="wrapper">
	<header id="header">
		<div class="clearfix">
			<a class="logo fn-left">
				<img src="/images/logo.png" alt="" class="fn-left" width="50">
  				<span class="logo-name">Aerohive</span>
			</a>
            <div class="search fn-right" data-dojo-type="ah/app/common/Search"></div>
		</div>
		<nav>
			<ul class="ui-nav clearfix">
				<li class="active" data-dojo-attach-point="stage"><a href="#" >Home</a></li>
				<li data-dojo-attach-point="why"><a href="#">Why Dojo</a></li>
				<li data-dojo-attach-point="component"><a href="#">Component</a></li>
				<li data-dojo-attach-point="experience"><a href="#">Experience</a></li>
			</ul>
		</nav>
	</header>

	<div data-dojo-attach-point="content" class="main">
        <div data-dojo-attach-point="stageObj" data-dojo-type="ah/app/common/stage" 
            data-dojo-props="gotoComp:this.__gotoComp" class="height100"></div>
	</div>


	<footer id="footer">
		<ul>
			<li>&copy;Aerohive前端体验技术组出品</li>
		</ul>
	</footer>

</div>
