<div class="res-ctn">
	<div class="clearfix res-item">
		<div class="fn-right res-item-icon res-item-first"></div>
		<section class="res-item-desc">
			<article>
				<h3>广度和深度</h3>
                <p>Dojo是一个“full stack”的应用框架。不是那种把几个不同的源码简单拼凑在一起的组件。</p>
                <p>Dojo通过提供集成的底层架构和广泛的可选模块允许每个组件构造成一个高质量积木式的可信赖集合。</p>
                <p>这些组件给普通用户遇到的问题提供了良好的解决方案，他们也很容易调整以满足你的需求。</p>
                <p>从基于面板的设计到客户端图表、到数据绑定、到久经考验的模块系统，Dojo是一个考虑了众多用户体验的刚性的底层架构。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="res-item-icon res-item-second fn-left"></div>
		<section class="res-item-desc">
			<article>
				<h3>质量</h3>
                <p>国际化及易访问的底层架构是通过Dojo“纤维”编织而成。每次击键都会有正确提示。</p>
                <p>所有组件做为一个粘着的整体契合在一起。每件东西都是可以很容易与CSS一起进行定制。</p>
                <p>只消稍做调整即可获得一个漂亮整洁的外观变化，以大量的用户体验为基础做了设计和测试，这些都是它的特点。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="fn-right res-item-icon res-item-third"></div>
		<section class="res-item-desc">
			<article>
				<h3>性能</h3>
                <p>Dojo被用于每天都有高访问量和高流量的站点上，采用Dojo的构造工具是为什么如此的一个关键原因。</p>
                <p>Dojo软件包系统很容易管理大规模的UI开发项目以及构建顶部的系统层，可以做出令人吃惊的应用。</p>
                <p>Dojo也把高性能的普通应用实现打包到了它的核心内，并且Dojo0.9版在性能上给予了更多的关注，减少了代码。</p>
                <p>它是个小巧、紧凑的工具包并且速度飞快。这些特点使Dojo成为扩展和构建的理想平台。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="fn-left res-item-icon res-item-fourth"></div>
		<section class="res-item-desc">
			<article>
				<h3>社区</h3>
                <p>Dojo是一个开源的社区，个人和公司都能走到一起公平竞争，这使得大家在使用这些工具时彼此获益。</p>
                <p>Dojo工具包的许可协议被设计成尽可能与政治无关保持中立。我们努力工作也是为了确保在遇到棘手的问题时能很容易得以解决。</p>
                <p>所有开发都是在开放的环境中进行，并且有意识的降低学习门槛。我们不关心你在哪工作或你是否资深，你在社区中的地位由你所参与的工作质量决定。</p>
                <p>我们正致力于改变那些可能是开源社区贡献者人的观念，并且我们邀请你加入我们，如果你构造一个伟大的产品并且认为你能帮助我们，我们愿意接受你的任何建议。</p>
			</article>
		</section>
	</div>

</div>
