<div class="res-ctn">
	<div class="clearfix res-item">
		<div class="fn-right res-item-icon res-item-first"></div>
		<section class="res-item-desc">
			<article>
				<h3 style="margin-bottom:15px;">灵活多变的组织形式</h3>
				<p>你可以使用DOJO实现各种模式的组件，灵活多变，适应各种系统需求。</p>
				<p style="margin:10px 0;">在这里，你想怎么玩就怎么玩。</p>
				<p>还有，还有。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="res-item-icon res-item-second fn-left"></div>
		<section class="res-item-desc">
			<article>
				<h3 style="margin-bottom:15px;">丰富的组件库和第三方支持</h3>
				<p>Dojo提供了各种各样的组件，满足大多数的业务系统需要。</p>
				<p style="margin:10px 0;">方便的扩展功能，任由您的组合。</p>
				<p>活跃的设计师论坛，多种可供选择的第三方组件。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="fn-right res-item-icon res-item-third"></div>
		<section class="res-item-desc">
			<article>
				<h3 style="margin-bottom:15px;">强大的路由功能</h3>
				<p>强大的路由功能强大的路由功能。</p>
				<p style="margin:10px 0;">强大的路由功能强大的路由功能。</p>
				<p>强大的路由功能。</p>
			</article>
		</section>
	</div>
	<div class="clearfix res-item">
		<div class="fn-left res-item-icon res-item-fourth"></div>
		<section class="res-item-desc">
			<article>
				<h3 style="margin-bottom:15px;">完美解决方案</h3>
				<p>完美解决方案完美解决方案。</p>
				<p style="margin:10px 0;">完美解决方案完美解决方案。</p>
				<p>完美解决方案。</p>
			</article>
		</section>
	</div>

</div>
